@model QAViewModel
@{
    ViewData["Title"] = "QA";
}
<form method="post">
    <input asp-for="QA.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.QA.Id != 0?"Update":"Create") QA</h2>
            <hr/>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="QA.Question"></label>
            <input asp-for="QA.Question" type="text" class="form-control"/>
            <span asp-validation-for="QA.Question" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="QA.Answer"></label>
            <input asp-for="QA.Answer" type="text" class="form-control" />
            <span asp-validation-for="QA.Answer" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="QA.CategoryId" asp-items="@Model.CategoryList">
                <option disabled selected>Select Category</option>
            </select>
            <span asp-validation-for="QA.CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" styly="width:150px">@(Model.QA.Id != 0 ? "Update" : "Create") QA</button>
        <a asp-controller="QA" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>