@model QuestionAndAnswer
@{
    ViewData["Title"] = "Delete QA";
}
<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete QA</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Question"></label>
            <input asp-for="Question" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Answer"></label>
            <input asp-for="Answer" type="text" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" styly="width:150px">Delete</button>
        <a asp-controller="QA" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>